.contact-container {
  max-width: 100%;
  min-height: 560px;
  background-color: #b7b7b7;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}
.note {
  margin-bottom: 4%;
}

.note-header {
  color: rgb(34, 34, 34);
  text-align: center;
  display: block;
  margin: 0 0 1% 0;
  padding: 2% 0 2% 0;
  text-shadow: 0 0px 5px #6b6b6b;
  font-size: 3rem;
  font-weight: 700;
}
.note-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.note-pic {
  max-width: 30%;
  transition: all 0.4s ease-in-out;
}
.note-pic:hover {
  transform: scale(1.05);
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}
.contact-input {
  width: 500px;
  height: 40px;
  margin: 2% 0 2% 0;
  padding: 1% 2% 1% 2%;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #006766;
}
.contact-input:focus {
  outline: none;
  box-shadow: 0px 0px 5px #fff5ba;
}
.contact-input:nth-child(3) {
  height: 150px;
}
.contact-input-button {
  width: 100%;
  border: none;
  border-radius: 15px;
  height: 40px;
  background-color: #006766;
  color: #fff5ba;
}
.contact-input-button:hover {
  box-shadow: 0px 0px 5px #006766;
  cursor: pointer;
}
.contact-input-button:focus {
  outline: none;
}
.contact-subscription-container {
  margin-bottom: 4% 0;
  text-align: center;
  font-weight: bold;
  padding: 4% 0;
  color: #fff;
}
.contact-subscription-container > p {
  font-family: "Quicksand", sans-serif;
  color: black;
}

.contact-subscription-heading {
  margin-bottom: 24px;
  font-size: 24px;
}
.contact-subscription-text {
  margin-bottom: 24px;
  font-size: 20px;
}

@media screen and (max-width: 960px) {
  .note-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .note-header {
    margin: 4% 0 1% 0;
    padding: 2% 0 2% 0;
    font-size: 1.5rem;
  }
  .contact-input {
    width: 350px;
    height: 40px;
    margin: 2% 0 2% 0;
    padding: 1% 2% 1% 2%;
  }
  .contact-subscription-heading {
    width: 95%;
    font-size: 1.4rem;
  }
  
}
