.contact-container {
  max-width: 100%;
  min-height: 560px;
  background-color: #a7a7a7e5;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}
.note {
  margin-bottom: 4%;
}

.note-header {
  color: rgb(34, 34, 34);
  text-align: center;
  display: block;
  margin: 0 0 1% 0;
  padding: 5% 0 4% 0;
  text-shadow: 0 0px 16px rgb(246, 246, 246);
  font-size: 3rem;
  font-weight: 700;
}
.note-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.note-pic {
  max-width: 30%;
  transition: all 0.4s ease-in-out;
}
.note-pic:hover {
  transform: scale(1.1);
}
.note-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.note-btn > Button {
  width: 98%;
  font-size: 1.5rem;
}
.note-form {
  margin: 2% 0;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.contact-subscription-container {
  margin-bottom: 4% 0;
  text-align: center;
  font-weight: bold;
  padding: 4% 0;
  color: #fff;
}

.contact-subscription-container > p {
  font-family: "Quicksand", sans-serif;
  color: black;
}

.contact-subscription-heading {
  margin-bottom: 24px;
  font-size: 24px;
}

.contact-subscription-text {
  margin-bottom: 24px;
  font-size: 20px;
}
