.home-container {
  background-color: #b7b7b7;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 580px;
}

.home-side-col {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-figures :nth-child(n) {
  margin-left: 20px;
}

/*theme changer */
.theme-changer {
  position: absolute;
  left: 6%;
  top: 14%;
  position: fixed;
  z-index: 999999999;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;

  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ffd700;
}

input:focus + .slider {
  box-shadow: 0 0 4px #ffd700;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.home-main-col {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-col-text {
  text-align: justify;
  width: 100%;
  font-size: 18px;
  margin: 5% 0 5% 0;
}
.avatar-img {
  box-shadow: 0px 0px 10px 5px #6b6b6b;
}

.second-row {
  min-height: 580px;
}
.extention {
  min-height: 580px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2%;
}

.ext-but-holder {
  min-height: 120px;
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ext-but {
  border: solid 2px #6b6b6b;
  background-color: #006766;
  padding: 10px 30px;
  color: #fff5ba;
  font-size: 2rem;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.ext-but:hover {
  background-color: #fff5ba;
  color: #006766;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 0px 10px #006766;
}

.third-row {
  min-height: 300px;
}
.third-row-container {
  padding: 5% 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Third-row-card {
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 0px 10px #006766;
}
.Third-row-card:hover {
  transform: scale(1.04);
}
.third-row-titles {
  font-weight: bold;
}
.fourth-row {
  min-height: 400px;
  margin-bottom: 50px;
}
.fourth-row-four,
.fourth-row-three,
.fourth-row-two,
.fourth-row-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.react-card {
  min-height: 300px;
  margin: 2% 0 2% 0;
  font-weight: bold;
  border: solid 2px #6b6b6b;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #006766;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
.react-card:hover {
  text-decoration: none;
  transform: scale(1.05);
}
.react-text {
  text-align: center;
}
.fourth-row-shadow-left {
  border: solid 2px #b7b7b7;
  box-shadow: 4px 4px 15px rgb(223, 223, 223);
}
.fourth-row-shadow-right {
  border: solid 2px #b7b7b7;
  box-shadow: -4px 4px 15px rgb(223, 223, 223);
}
.fourth-row-last-card {
  border: solid 2px white;
  box-shadow: 0 0 40px rgb(255, 255, 255);
  margin-bottom: 5%;
}

.fifth-row {
  width: 100%;
  min-height: 100vh;
}

.vid-container {
  position: absolute;
  width: 100%;
}
.fifth-row-text {
  min-height: 100vh;
  width: 100vw;
  padding: 0 20% 0 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 2px 12px rgb(66, 66, 66);
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
}
.fifth-row-but {
  border: solid 2px #6b6b6b;
  background-color: #fff5ba;
  padding: 10px 30px;
  color: #006766;
  font-size: 2rem;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.fifth-row-but:hover {
  background-color: #006766;
  color: #fff5ba;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 0px 10px #006766;
}

@media screen and (max-width: 960px) {
  .first-row {
    flex-direction: column;
    margin-top: 4%;
  }
  .home-main-col {
    min-width: 95%;
  }
  .side-figures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .side-figures :nth-child(n) {
    margin-left: 0;
    width: 95%;
  }

  .second-row {
    min-height: 200px;
  }
  .extention {
    min-height: 200px;
    margin: 3% 0 5% 0;
  }
  .ext-but-holder{
    width: 90%;
  }
  .ext-but {
    padding: 3% 25px;
    font-size: 1.2rem;
  }

  .third-row-container {
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Third-row-card {
    margin: 0 0 5% 0;
  }

  .fourth-row-four,
  .fourth-row-three,
  .fourth-row-two,
  .fourth-row-one {
    display: flex;
    flex-direction: column;
  }
  .react-card {
    min-height: 300px;
  }
  .fourth-row-shadow-left {
    border: none;
    box-shadow: none;
  }
  .fourth-row-shadow-right {
    border: none;
    box-shadow: none;
  }
  .fifth-row {
    width: 100%;
    min-height: 50vh;
    margin-bottom: 0;
    background-color: #6b6b6b;
  }
  .vid-container {
    display: none;
  }
  .fifth-row-text {
    min-height: 50vh;
    width: 100vw;
    padding: 0 2% 0 2%;
    text-align: justify;
  }
  .fifth-row-but {
    padding: 2% 30px;
    font-size: 1.4rem;
  }
}
