.navbar {
  background-color: rgb(0, 49, 39);
  background: linear-gradient(
    to right,
    rgba(184, 184, 184, 0.603) 0%,
    rgb(27, 27, 27, 0.897) 100%
  );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  max-width: 1500px;
  font-family: "Permanent Marker", cursive;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 2em;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 3rem;
}
.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  transition: all 0.2s ease-out;
  text-shadow: 0px 3px 6px rgb(42, 42, 42);
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 82px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1f1f1f;
    left: 0;
    opacity: 0.98;
    transition: all 1s ease;
    z-index: 998;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    border-radius: 4px;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
  }

  .navbar-logo {
    position: absolute;
    left: 2em;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    border-radius: 4px;
    height: 80px;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;

    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
