.certificate-container {
  background-color: #a7a7a7e5;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.certificate-motion {
  min-height: 100vh;
  min-width: 100%;
}

.certificate-row1,
.certificate-row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.certificate-item1,
.certificate-item2,
.certificate-item3,
.certificate-item4,
.certificate-item5,
.certificate-item6 {
  display: inline;
  margin: 2% 2% 2% 2%;

  box-shadow: 0 0 15px rgba(54, 54, 54, 0.959);
}

.certificate-item1:hover,
.certificate-item2:hover,
.certificate-item3:hover,
.certificate-item4:hover,
.certificate-item5:hover,
.certificate-item6:hover {
  cursor: pointer;
}
